/* Brand styling
-------------------------------------------------- */
*, input, button {
  font-family: 'Work Sans', sans-serif;
}

* {
  background-color: rgb(239, 249, 255);
}

footer {
  background-color: rgb(239, 249, 255) !important;
}

h1 {
  font-family: 'Space Mono';
  font-weight: bold;
}

h1:first-letter {
  letter-spacing: -2px;
}

.btn-primary {
  background-color: #dc3c3c;
  border-color: #dc3c3c;
}

.btn-primary:hover {
  background-color: #f14242;
  border-color: #f14242;
}

.btn-primary, .search-input, .card, .card img {
  border-radius: 0px;
}

.search-input:focus  {
  border-color: #636c72;
}

.card, .card-block, .card img, .card-title, .card-text {
  background-color: #fff;
}

.card:hover .card-block, .card:hover .card-title, .card:hover .card-text {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: background-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: background-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

/* Card styles
-------------------------------------------------- */
.card {
  margin-bottom: 30px;
}

a.card-clickable {
  color: #292b2c;
}

a.card-clickable:hover, a.card-clickable:active, a.card-clickable:visited {
  text-decoration: none;
}

a.card-clickable:hover div.card {
  border-color: #636c72;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

/* Speech Input Style
-------------------------------------------------- */
.speech {
  margin-bottom: 10px;
}
.mic-button {
  font-size: 2em;
  color: #f4f4f4;
  background-color: #FA2D4B;
  width: 50px;
  text-align: center;
  transition: all .2s ease-in-out;
}

.mic-button:hover {
  background-color: #ff4965;
  color: white;
}

.mic-icon {
  background-color: transparent;
}

.sentiment {
  background-color: transparent;
  color: #f5f5f5;
  float: right;
}

.sentiment-box {
  padding: 2px 3.5px;
  border-radius: 60px;
  font-size: 25px;
}

.sentiment-box.bad {
  background-color: #f14242;
}

.sentiment-box.good {
  background-color: #58CC64;
}

.sentiment-box.neutral {
  background-color: #636c72;
}

.date-input {
  float: left;
  padding-right: 30px;
}

.date-input input {
  margin-left: 8px;
}

.chart-title {
  padding-top: 20px;
  clear: both;
}

/* Header
-------------------------------------------------- */

.welcome {
  float: left;
  padding-bottom: 50px;
}


.user-image {
  border-radius: 50%;
  width: 60px;
  padding-left: 10px;
}

.login {
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 20px;
  padding-bottom: 40px;
}

.logout {
 float: right;
 padding-top: 15px;
}